body {
  background-color: #231f20;
}

.text-centered {
  text-align: center;
}

.full-height {
  height: 100%;
}

#tool-icon-container {
  position: fixed;
  text-align: right;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 16px;
  z-index: 100;
}

.tool-icon {
  margin-right: 6px;
}

.grid-container {
  padding-top: 40px;
}

#widget-icon {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}

#x-delete {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.75;
  z-index: 1;
}

#main-modal {
  background-color: black;
  height: 80vh;
  overflow: hidden;
  justify-content: center;
}

.nav-tabs>li>a {
  color: #2aabd2;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  background-color: black;
  color: white;
}

.modal-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.create-widget-form {
  height: 174px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#widget-url-input {
  height: 30px;
}

#submit-create-widget {
  height: 35px;
}

#selected-icon-container {
  text-align: center;
  padding: 12px 0;
}

#selected-icon {
  width: 40%;
  height: 40%;
}

#gridster-modal {
  max-height: 50vh;
  overflow: scroll;
}

.gridster-modal-icon {
  width: 100%;
  height: 100%;
}

#load-all-icons-button-container {
  position: fixed;
  right: 25px;
  bottom: 0;
  z-index: 10;
}

#load-all-icons-button {
  opacity: 0.85;
}

#export-widgets-container {
  background: white;
  color: black;
  height: 250px;
  width: 80%;
  margin: 40px 80px;
  overflow: scroll;
}

#export-widgets-message {
  color: white;
}

#import-widgets-textbox {
  background: white;
  color: black;
  height: 250px;
  width: 80%;
  margin:40px 80px;
  overflow: scroll;
}

#import-widgets-button {
  width: 40%;
}

#other-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.other-button {
  width: 70%;
  text-align: center;
  margin-top: 5%;
}

#auth-modal {
  overflow: scroll;
  background-color: black;
  height: 80vh;
}

